{% load static %}
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="{% static 'img/about/about-g-1.jpg' %}" alt="">
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>Hi Guys!</h3>
              <p>I am a novice (junior) Python programmer who has been learning django since 2020. This page is part of my training. Thank you very much for visiting my page.</p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Ghasem Matoo</span></li>
                  <li><span class="pro-title"> Age </span> <span class="pro-detail">32 Years</span></li>
                  <li><span class="pro-title"> Experience </span> <span class="pro-detail">1 Years</span></li>
                  <li><span class="pro-title"> Country </span> <span class="pro-detail">IRAN</span></li>
                  <li><span class="pro-title"> Location </span> <span class="pro-detail">Tehran Province, IR</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">Matoogsm90@gmail.com</span></li>
                  <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (98) 911 916 3658</span></li>
                  <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                </ul>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </section>