{% load static %}
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Online Bachelor - Hadaf University</h3>
                    <span>2012 - It is not over</span>
                    <p class="line-text">I started my bachelor's degree at hadaf nv aiv University in Sari, majoring in electronics and instrumentation control, but for some reason I did not finish.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Discontinuous ‌‌‌Bachelor - Azad University</h3>
                    <span>2008 - 2011</span>
                    <p class="line-text">I continued my bachelor's degree in electronics at Babaol Free University.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Secondary School - ُُُTechnical Highschool</h3>
                    <span>2003 - 2006</span>
                    <p class="line-text">I spent my high school years in electronics at Haj Hassan Ranjbar Technical High School in Amol city.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">CurrencyConverter_API</h3>
                    <span>Jan 28 2021 - Present</span>
                    <p class="line-text">Development of digital currency conversion software with apin and tkinter library.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">WebScraping</h3>
                    <span>Jun 28 2021</span>
                    <p class="line-text">Build a project with BS4 & API & SQL To get more familiar with web crawlers, save my data in a database.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Mini_project.Tkinter </h3>
                    <span>Jun 21 2021</span>
                    <p class="line-text">Build a very simple game of rock, paper, scissors written with the tkinter library.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>